* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

body {
  display: flex;
  height: 100vh;
  background: #ffffff;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #0d2137;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 120px;
  height: auto;
}

.icone-logo {
  font-size: 40px;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 15px 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

nav ul li.active,
nav ul li:hover {
  background: #163764;
  border-radius: 8px;
  opacity: 1;
}
a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #434ff0;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #7f7ff5, #b388eb);
  border-radius: 50%;
}

.user-info p {
  margin: 0;
}

.nome {
  font-weight: bold;
}

.cargo {
  font-size: 0.85rem;
  opacity: 0.8;
}

.logout {
  margin-left: auto;
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
}

/* CONTEÚDO */
.content {
  flex: 1;
  padding: 40px;
  margin-left: 400px;
}

.content h1 {
  margin-bottom: 25px;
  font-size: 26px;
}

/* CARDS */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.card h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

/* GRID AGENDAMENTO */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8px;
}

/* COLS */
.row {
  display: flex;
  gap: 50px;
}

.col p {
  margin-bottom: 8px;
}

/* IMAGEM INSTALAÇÃO */
.install-img img {
  width: 120px;
  border-radius: 10px;
}

/* BOTÕES */
.actions {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.accept {
  background: #6ee788;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.reject {
  background: #e76666;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.accept:hover,
.reject:hover {
  opacity: 0.8;
}
