* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #122a40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 40%;
  height: 60%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.form-header {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.form-content label {
  font-size: 20px;
}

.form-control {
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-control:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  outline: none;
}

.form-control:disabled {
  background-color: #eee;
}

.form-control::placeholder {
  color: #888;
}

.btn {
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #87b2d4;
  border: none;
  border-radius: 5px;
}
