* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f5f5f5;
  min-height: 100vh;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  min-width: 250px;
  background: #0d2137;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 120px;
  height: auto;
}

.icone-logo {
  font-size: 40px;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 15px 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

nav ul li.active,
nav ul li:hover {
  background: #163764;
  border-radius: 8px;
  opacity: 1;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #434ff0;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #7f7ff5, #b388eb);
  border-radius: 50%;
}

.user-info p {
  margin: 0;
}

.nome {
  font-weight: bold;
}

.cargo {
  font-size: 0.85rem;
  opacity: 0.8;
}

.logout {
  margin-left: auto;
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
}

.main {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 250px;
  min-height: 100vh;
}

.page-title {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.form-card {
  background-color: white;
  width: 900px;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

.form-card h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 13px;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #f4f4f4;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.button-container {
  text-align: right;
  margin-top: 15px;
}

.next-btn {
  background-color: #7ea9c9;
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.next-btn:hover {
  background-color: #5f8fb4;
}
